body{
    background-color : #FCF9E6;
}

#main-contain{
    margin-top: 5%;
    width : 80%;
}

.card-title{
    font-size : 1rem;
}

.card{
    margin : 2%;
    width: 100%;
}

.card-body{
    padding : 0.6rem;
}

p{
    font-size : 0.7rem;
}
p.like{
    margin-bottom : 0;
}

.like{
    font-weight : bold;
}

img{
    width : 100%;
}

#logo{
    width : 70%;
    margin-left:15%;   
}