/* 폰트 적용 */
@font-face { 
    font-family: 'Nanum-B'; 
    src: url('/font/NanumSquareB.ttf'); 
}
@font-face { 
    font-family: 'Nanum-EB'; 
    src: url('/font/NanumSquareEB.ttf'); 
}
@font-face { 
    font-family: 'Nanum-L'; 
    src: url('/font/NanumSquareL.ttf'); 
}
@font-face { 
    font-family: 'Nanum-R'; 
    src: url('/font/NanumSquareR.ttf'); 
}
/* 페이지 공통 */
body{
    background-color : #F1F5F8;
}

img{
    width : 100%;
}

/* 로고 */
#logo{
    width : 20%;
    margin: auto;   
}
.moreshow{
    font-size : 1rem;
    background-color : none;
    color : #aaaaaa;
    font-family : 'Nanum-R';
    background-color: transparent !important;
    border-color: transparent;
    border: none;
    width:100%;
}

.container-fluid{
    background-color:#F1F5F8;
    border-radius:10px;
    padding-bottom:1%;
}

#title-row{
    padding-left: 5%;
    padding-top: 5%;
}

hr{
    margin: 2% 0;
}

p.sub-title{
    margin: 0 0 1% 5%;
}

div.tag{
    font-family : 'Nanum-B';
    background-color:white;
    font-size : 0.7rem;
    width : fit-content;
    display : inline-block;
}

div.tag-wrapper{
    text-align : center;
}

#tagbox{
    border : 2px solid #00A4FF;
    width : 100%;
    margin:auto;
}

#tagInput{
    font-size : 9px;
    width:90%;
}

#tagButton{
    font-size: 9px;
    padding: 0;
    width: 10%;
    color: white;
    font-family: 'Nanum-B';
}

.btn{
    background-color:#00A4FF;
}

.card{
    margin: 1.5%;
    width: 100%;
    border-radius: 0.5rem;
    border: 0;
}

/* 틀 줄이기 */
.container-fluid{
    margin-top : 7%;
    width : 30%;
}

/* 로고 이미지 */
img{
    width : 55%;
    margin : auto;
    margin-bottom : 3%;
}

/* label */
p{
    margin-bottom: 0.5%;
    font-size : 0.7rem;
}

/* input 부모 태그 */
div.content{
    width : 100%;
    margin-bottom : 6%;
    text-align: center;
}

/* input(입력 받는 상자) */
input{
    width : 60%;
    height : 120%;
    border : 0.8px solid #00A4FF;
    border-radius : 7px;
    font-size : 0.6rem;
    padding : 1% 0 1% 3%;
    color : black;
}

/* 버튼 */
.btn{
    width : 100%;
    font-size : 0.9rem;
    background-color : #00A4FF;
    color : white;
    margin-top : 2%;
    border : 7px;
    font-family : 'Nanum-B';
}